body {
    font: 16px/1 Helvetica, sans-serif;
}


#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    height: 160px;
    position: relative;
}

.photo,
.photo img {
    min-width: 160px;
    max-width: 240px;
}

.photo button {
	position: absolute;
	bottom: 10px;
	left: 30%;
}

#ajax-loader {
    position: fixed;
    bottom: 40px;
    left: 50%;
    margin-left: -70px;
    padding: 10px 0;
    width: 140px;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 25px;
    display: none;
}